{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


	{% block meta %}

	{% endblock meta %}
</head>

<body>
	<div class="wrapper">
		<div class="item">
			<div class="accordion_wrap">
				<div class="accordion_header">
					<div class="content">Deskripsi</div>
					<div class="move"> 
						<div class="move-up"><p>up</p></div>
						<div class="move-down"><p>down</p></div>
					</div>
				</div>
				<div class="accordion_body">
				  <p>Nama saya Lilis Safitri, akrab disapa Lilis atau Cici. Saya lahir di Bekasi, 28 Mei 2001. Saya adalah mahasiswa Fasilkom UI tahun 2019 yang mengambil jurusan sistem informasi. Saya tipe orang yang berkepribadian ekstrovert. Saya sangat menyukai warna biru, dan toska. Saya juga sangat menyukai jajanan khas Indonesia, seperti siomay, batagor, seblak, dan lain-lain. </p>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="accordion_wrap">
			    <div class="accordion_header">
			    	<div class="content">Aktivitas</div>
			    	<div class="move"> 
			    		<div class="move-up"><p>up</p></div>
						<div class="move-down"><p>down</p></div>
					</div>
			    </div>
			    <div class="accordion_body">
			       <p>Selama masa pandemi ini, kegiatan sehari-hari saya yaitu kuliah online, mengerjakan tugas hingga larut malam. Hanya itu setiap harinya.</p>
			    </div>
			</div>
		</div>

		<div class="item">
	  		<div class="accordion_wrap">
			    <div class="accordion_header">
			    	<div class="content">Pengalaman Organisasi</div>
			    	<div class="move"> 
			    		<div class="move-up"><p>up</p></div>
						<div class="move-down"><p>down</p></div>
					</div>
			    </div>
			    <div class="accordion_body">
			    	<p>Pada waktu SMP saya sangat aktif di organisasi. Saya menjadi bendahara OSIS, dan menjadi ketua pramuka putri. Lalu pada saaat SMA, saya mengikuti ekstrakulikuler pramuka, paskibra dan saka wirakartika. PAda semester pertama di Fasilkom UI, saya mengikuti magang FUKI, dan BEM Fasilkom. Lalu pada semester kedua saya mendaftar staf FUKI dan ikut kepanitiaan SIWAK-NG, dan menjadi mentor keagamaan.</p>
			    </div>
			</div>
		</div>

		<div class="item">
		  	<div class="accordion_wrap">
			    <div class="accordion_header">
			    	<div class="content">Prestasi</div>
			    	<div class="move"> 
			    		<div class="move-up"><p>up</p></div>
						<div class="move-down"><p>down</p></div>
					</div>
			    </div>
			    <div class="accordion_body">
			      <p>Prestasi saya tidak banyak, namun menurut saya menjadi bagian dari Universitas Indonesia khususnya Fasilkom merupakan sebuah prestasi bagi saya.</p>
			    </div>
		  	</div>
		</div>
	</div>

{% block content %}
{% endblock content %} 
</body>
</html>